  <div class="container-bookings">

    <div class="card-white" id="introduction">
      <h2>My Bookings</h2>
      <% @bookings.each do |booking| %>
        <h4>Your upcoming booking is:</h4>
          Name: <%= booking.truck.name %>
          Date: <%= booking.date %>
          Participants: <%= booking.number_of_participants %>
          Category: <%= booking.truck.category %>
          Price: <%= booking.truck.price %>
          <% end %>
      <br>
      <%= link_to "My Profile", profile_path, class: "btn-show" %>
      <%= link_to "Homepage", root_path, class: "btn-show" %>
    </div>
  </div>
