<div class="container-bookings">
  <div class="card-white" id="introduction">
    <table class="table table-bordered">
        <tbody>
          <h2>My Bookings</h2>
          <thead>
            <th>Name</th>
            <th>Date</th>
            <th>Participants</th>
            <th>Price</th>
          </thead>
          <% @bookings.each do |booking| %>
            <tr>
              <td><%= booking.truck.name %></td>
              <td><%= booking.date %></td>
              <td><%= booking.number_of_participants %></td>
              <td><%= booking.truck.price %></td>
              <% end %>
            </tr>
        </tbody>
      </table>
      <br>
      <%= link_to "My Profile", profile_path, class: "btn-show" %>
      <%= link_to "Homepage", root_path, class: "btn-show" %>
    </div>
  </div>
