  <div class="container-bookings">

    <div class="card-white" id="introduction">
      <h2>My Bookings</h2>
      <% @bookings.each do |booking| %>
      <h3><%= booking.user.name %>'s Bookings</h3>
      <h4>
        <ul>
          <li><%= booking.truck.name %> <%= booking.truck.category %></li>
          <br>
          <li><%= booking.truck.price %></li>
          <% end %>
        </ul>
      </h4>
      <br>
      <%= link_to "My Profile", profile_path, class: "btn btn-primary mr-4" %>
      <%= link_to "Homepage", root_path, class: "btn btn-primary mr-4" %>
    </div>
  </div>
