  <div class="container-bookings">

    <div class="card-white" id="introduction">
      <h2>My Bookings</h2>
      <% @bookings.each do |booking| %>
        <h4>Your upcoming booking is:</h4>
        <ul>
          <li>Name: <%= booking.truck.name %></li>
          <li>Date: <%= booking.date %></li>
          <li>Date: <%= booking.number_of_participants %></li>
          <li>Category: <%= booking.truck.category %></li>
          <li>Price: <%= booking.truck.price %></li>
          <% end %>
        </ul>
      <br>
      <%= link_to "My Profile", profile_path, class: "btn btn-primary mr-4" %>
      <%= link_to "Homepage", root_path, class: "btn btn-primary mr-4" %>
    </div>
  </div>
