<div class="container">
  <h1> Your reservation </h1>
  <%= link_to "Back to all trucks", root_path %>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Truck</h3>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Category</th>
            <th>Price</th>
            <th>Description</th>
          </thead>
          <h2> Details </h2>
          <%#= cl_image_tag @truck.photo.key, height: 300, width: 400, crop: :fill %>

              <td><%= @booking.truck.category  %></td>
              <td><%= @booking.truck.price %></td>
              <td><%= @booking.truck.description %></td>
            <td>
                <%= link_to booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_booking"></i>
                <%= link_to profile_path do %>
                  <i class="fa fa-trash go_profile"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
