  <div class="container-bookings">

    <div class="card-white" id="introduction">
      <h2>My Trucks</h2>
      <% @trucks.each do |truck| %>
      <%= link_to "View my truck", truck_path(truck), class: "btn btn-primary mr-4"  %>
        <ul>
          <li>Name: <%= truck.name %></li>
          <li>Category: <%= truck.category %></li>
          <li>Price: <%= truck.price %></li>
          <li>Description: <%= truck.description %></li>
          <% end %>
        </ul>
      <br>
      <%= link_to "My Profile", profile_path, class: "btn btn-primary mr-4" %>
      <%= link_to "Homepage", root_path, class: "btn btn-primary mr-4" %>
    </div>
  </div>
