  <div class="container-bookings">

    <div class="card-white" id="introduction">
      <h2>My Trucks</h2>
      <br>
      <% @trucks.each do |truck| %>
        <ul>
          <p>Name: <%= truck.name %><br>
          Category: <%= truck.category %><br>
          Price: <%= truck.price %><br>
          Description: <%= truck.description %></p>
          </ul>
      <br>
      <%= link_to "View my truck", truck_path(truck), class: "btn btn-primary mr-4"  %>
      <%= link_to "My Profile", profile_path, class: "btn btn-primary mr-4" %>
      <%= link_to "Homepage", root_path, class: "btn btn-primary mr-4" %>
      <% end %>
    </div>
  </div>
